## Clustering and Segmenting of neighbourhooods of the city of toronto

In [1]:
import pandas as pd

In [2]:
from IPython.display import IFrame
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
IFrame(url, width=800, height=350)

#### using Pandas and its function read_html: to parse the data

In [3]:
data, = pd.read_html(url, match="Postcode", skiprows=1)
data.columns = ["PostalCode", "Borough", "Neighborhood"]
data.head()

  PostalCode           Borough      Neighborhood
0        M2A      Not assigned      Not assigned
1        M3A        North York         Parkwoods
2        M4A        North York  Victoria Village
3        M5A  Downtown Toronto      Harbourfront
4        M6A        North York  Lawrence Heights

#### we need to Only process the cells that have an assigned borough and Ignore cells with a borough that is Not assigned.

In [4]:
data = data[data["Borough"] != "Not assigned"]
data.head()

  PostalCode           Borough      Neighborhood
1        M3A        North York         Parkwoods
2        M4A        North York  Victoria Village
3        M5A  Downtown Toronto      Harbourfront
4        M6A        North York  Lawrence Heights
5        M6A        North York    Lawrence Manor

In [5]:
borough_func = lambda s: s.iloc[0]
neighborhood_func = lambda s: ", ".join(s)
agg_funcs = {"Borough": borough_func, "Neighborhood": neighborhood_func}
data_temp = data.groupby(by="PostalCode").aggregate(agg_funcs)
data_temp.head()

                Borough                            Neighborhood
PostalCode
M1B         Scarborough                          Rouge, Malvern
M1C         Scarborough  Highland Creek, Rouge Hill, Port Union
M1E         Scarborough       Guildwood, Morningside, West Hill
M1G         Scarborough                                  Woburn
M1H         Scarborough                               Cedarbrae

In [6]:
data = data_temp.reset_index()[data.columns]
data.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

#### If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.

In [7]:
data[data["Neighborhood"] == "Not assigned"]

   PostalCode       Borough  Neighborhood
93        M9A  Queen's Park  Not assigned

In [8]:
for (j, row) in data.iterrows():
    if row["Neighborhood"] == "Not assigned":
        borough = row["Borough"]
        print("Replace \"Not assigned\" => %s in row %i" % (borough, j))
        row["Neighborhood"] = borough

Replace "Not assigned" => Queen's Park in row 93

In [9]:
data.shape

(103, 3)